<section class="hero-section">
    <div class="hero-content">
        <h1>Heyy, Thank You for Visiting </h1>
        <p>My name is Yash, and I'm passionate about tech innovation. With a strong foundation in programming, 
         I've worked on diverse projects that showcase my skills in web development and problem-solving. 

         Let's connect and explore collaboration opportunities to create meaningful solutions and drive innovation together!</p>
        <a href="/contact" class="cta-button">Connect with Me</a>
    </div>
    <div class="hero-image">
        <img src="/images/Yash-pic.jpg" alt="Yash Sharma">
    </div>
</section>
