<section class="skills-section">
    <h1>Skills and Expertise</h1>
    
    <div class="core-skills">
        <h2>Core Skills</h2>
        <ul>
            <li>Programming Proficiency</li>
            <li>Effective Team Collaboration</li>
            <li>Public Speaking Skills</li>
            <li>Strong Leadership Qualities</li>
            <li>Collaborative Mindset</li>
        </ul>
    </div>
    
    <div class="certifications">
        <h2>Certifications</h2>
        <ul>
            <li>Google Digital Marketing Fundamentals</li>
            <li>Hackathon Participant</li>
            <li>Social Media Optimization (SMO)</li>
        </ul>
    </div>
    
    <div class="languages">
        <h2>Languages</h2>
        <ul>
            <li>HTML, CSS</li>
            <li>C, C++</li>
            <li>Java</li>
            <li>PHP</li>
        </ul>
    </div>
    
    <div class="hobbies">
        <h2>Hobbies</h2>
        <ul>
            <li>Gymnastics</li>
            <li>Swimming</li>
            <li>Dancing</li>
            <li>Athletics</li>
        </ul>
    </div>
</section>
